

#menuicon    {
  padding: 5px;
  margin-right: 10px;

}
.mat-drawer{
  background: #212121;
}
#toptitle {
  padding: 15px;
  margin-right: 10px;
}
#holder{
  backdrop-filter:drop-shadow(16px 16px 20px whitesmoke) ;
}
.global-container{;
  float: top;
  z-index: 2;
  position: absolute;

  display: grid;
  grid-template-columns: 220px 1fr 220px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 12px;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  height: 100vh;
}
.global-container .foreground{
  z-index: 5;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px dashed #900;
}
a{
  color: cadetblue;
  filter: drop-shadow(5px 5px 5px cadetblue)
}
a:visited{
  color: deepskyblue;
  filter: drop-shadow(8px 8px 5px chocolate) invert(35);
}
a:hover{
  color: deepskyblue;
  filter: drop-shadow(8px 8px 5px chocolate) invert(35);
}
.sidenav_bar a{
  color: whitesmoke;
}
.sidenav_bar a:visited{
  color: cornflowerblue;

}
.sidenav_bar a:hover{
  color: cornflowerblue;
}





.left{
  margin: 18px;
  padding: 18px 18px 18px 18px;
  box-shadow: 6px 6px 6px #080808;
  position: relative;
  float:left;
  backdrop-filter:drop-shadow(16px 16px 20px whitesmoke) ;
  max-width: 35vmax;
}
.lowerleft{
  margin: 18px;
  padding: 18px 18px 18px 18px;
  box-shadow: 6px 6px 6px #080808;
  position: relative;
  float:bottom;;
  max-width: 35vmax;
}
.middle{
  margin: 18px;
  padding: 18px 28px 18px 18px;
  box-shadow: 6px 6px 6px #080808;
  position: relative;
  top:0px;

  backdrop-filter:drop-shadow(16px 16px 20px whitesmoke) ;
}
.right{
  margin: 18px;
  padding: 18px 28px 18px 18px;
  box-shadow: 6px 6px 6px #080808;
  position: relative;
  float:right;
max-width: 45vmax;
  backdrop-filter:drop-shadow(16px 16px 20px whitesmoke) ;

}
.menu-spacer {
  flex: 1 1 auto;
}

b {
  font-family: sans-serif;
}
