
<body class="mat-typography">

  <header>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon id=#menuicon aria-hidden="false" aria-label="Example home icon">home </mat-icon>
        </button>
        <span id="toptitle">
      Obsession, but not in the perfume commercial sense.</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <a href="#cz" mat-button>Code_Zoo</a>
          <a href="#cv" mat-button>CV</a>
          <a href="#blog" mat-button>Blog</a>
          <a href="#articles" mat-button>Long_Stuff</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <mat-sidenav-container fxFlexFill class="sidenav_bar">
    <mat-sidenav #sidenav>
      <mat-nav-list style="flex: 1 1 auto;width: 15vmax;align-items: flex-start" id="sidenav">
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <p><a href="#cz" routerLink="/home"mat-button>Code Zoo</a>         </p>
        <p><a href="#cv" mat-button>___CV___</a>         </p>
        <p><a href="#blog" mat-button>Blog</a>           </p>
        <p><a href="#articles" mat-button>Long Stuff</a> </p>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <app-nueral-background></app-nueral-background>
      <!--Picture of me and like... immediate links to my web prescene-->


      <div>

        <!--left side -->
        <div class="left" >
          <div class="left" >
            <app-me-picture-box></app-me-picture-box>
          </div>
          <div class="lowerleft" >
            something here
          </div>
        </div>

        <!--right side-->
        <div>
<!--          <div class="right">-->
<!--            <app-main-start></app-main-start>-->
<!--          </div>-->
          <div class =right>
            <app-blog-main></app-blog-main>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


</body>
