/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html, body { height: 100%; width:100% }
body {

  background: dimgrey;
  filter: sepia(0.1);
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

