/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body {
  margin: 2vmax;
  background: dimgrey;
  filter: sepia(0.2);
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

